body {
    background-image: url("Tetris.jpg");
    /*background-color: #cc0b0b; */
   }

#content-canvas {
    background-color: rgb(39, 195, 223);
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

